absl-py==0.2.2
affine==2.2.2
agefromname==0.0.8
alabaster==0.7.10
altair==4.0.0
amqp==2.3.2
anaconda-client==1.6.14
anaconda-navigator==1.9.2
anaconda-project==0.8.2
appnope==0.1.0
appscript==1.0.1
argh==0.26.2
asn1crypto==0.24.0
astor==0.7.1
astroid==1.6.3
astropy==3.0.2
atomicwrites==1.3.0
attrs==18.1.0
autograd==1.2
autograd-gamma==0.3.0
Babel==2.5.3
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
base58==1.0.3
beautifulsoup4==4.6.0
billiard==3.5.0.4
bitarray==0.8.1
bizkit==0.0.3
bkcharts==0.2
blaze==0.11.3
bleach==1.5.0
blinker==1.4
bokeh==0.12.16
boto==2.48.0
boto3==1.7.45
botocore==1.10.45
Bottleneck==1.2.1
branca==0.3.1
cached-property==1.5.1
catboost==0.16
celery==4.2.0
certifi==2019.6.16
cffi==1.13.2
chardet==3.0.4
chart-studio==1.0.0
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
cloudpickle==0.5.3
clyent==1.2.2
colorama==0.3.9
conda==4.7.10
conda-build==3.10.5
conda-package-handling==1.3.11
conda-verify==2.0.0
contextlib2==0.5.5
convertdate==2.1.3
coverage==4.5.4
cryptography==2.5
cvxpy==1.0.25
cycler==0.10.0
cymem==2.0.2
Cython==0.28.2
cytoolz==0.9.0.1
d3fdgraph==0.34
dash==0.39.0
dash-core-components==0.44.0
dash-cytoscape==0.1.1
dash-html-components==0.14.0
dash-renderer==0.20.0
dash-table==3.6.0
dash-table-experiments==0.6.0
dask==0.17.5
dataclasses==0.6
datashape==0.5.4
datasketch==1.4.3
decorator==4.3.0
defusedxml==0.6.0
dill==0.3.1.1
distributed==1.21.8
docopt==0.6.2
docutils==0.14
ecos==2.0.7.post1
en-core-web-sm==2.0.0
entrypoints==0.2.3
enum-compat==0.0.3
ephem==3.7.6.0
et-xmlfile==1.0.1
fancyimpute==0.5.4
fastai==1.0.34
fastcache==1.0.2
fastparquet==0.1.5
fastprogress==0.1.21
fbprophet==0.5
featuretools==0.1.21
filelock==3.0.4
Fiona==1.8.6
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Cors==3.0.4
flatbuffers==1.10
funcsigs==1.0.2
funcy==1.11
future==0.16.0
fuzzywuzzy==0.17.0
gast==0.2.0
gensim==3.4.0
geocoder==1.38.1
geographiclib==1.49
geopandas==0.4.1
geopy==1.18.1
gevent==1.3.0
glob2==0.6
gmpy2==2.0.8
google-images-download==2.3.0
graphviz==0.11.1
greenlet==0.4.13
grpcio==1.11.1
h2o==3.22.1.2
h5py==2.7.1
heapdict==1.0.0
holidays==0.9.10
html5lib==0.9999999
idna==2.6
imageio==2.3.0
imagesize==1.0.0
imbalanced-learn==0.6.0.dev0
imblearn==0.0
importlib-metadata==0.18
inflect==0.2.5
ipykernel==5.1.1
ipyleaflet==0.10.0
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.2.1
isort==4.3.4
itsdangerous==0.24
jdcal==1.4
jedi==0.12.0
Jinja2==2.10
jmespath==0.9.3
joblib==0.13.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyter-tensorboard==0.1.9
jupyterlab==0.32.1
jupyterlab-launcher==0.10.5
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
kiwisolver==1.0.1
knnimpute==0.1.0
kombu==4.2.1
lazy-object-proxy==1.3.1
lesscpy==0.13.0
libarchive-c==2.8
lifelines==0.22.1
lightgbm==2.1.2
lime==0.1.1.36
linearmodels==4.11
llvmlite==0.23.1
locket==0.2.0
lunardate==0.2.0
lxml==4.2.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==3.0.2
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.3
mkl-fft==1.0.10
mkl-random==1.0.2
mlagents==0.5.0
mlxtend==0.17.0
mock==2.0.0
modin==0.4.0
more-itertools==4.1.0
mpmath==1.0.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
msgpack-python==0.5.6
multipledispatch==0.5.0
multiprocess==0.70.9
munch==2.3.2
murmurhash==1.0.2
navigator-updater==0.2.1
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.1
newrelic==4.4.1.104
nltk==3.3
nose==1.3.7
notebook==5.5.0
numba==0.38.0
numexpr==2.6.9
numpy==1.16.4
numpydoc==0.8.0
oauthlib==2.1.0
odo==0.5.1
olefile==0.45.1
openpyxl==2.5.3
osqp==0.6.1
packaging==17.1
pandas==0.25.0
pandas-datareader==0.6.0
pandas-profiling==1.4.2
pandocfilters==1.4.2
parso==0.2.0
partd==0.3.8
path.py==11.0.1
pathlib2==2.3.2
pathtools==0.1.2
patsy==0.5.0
pbr==4.1.0
pep8==1.7.1
pexpect==4.5.0
pickleshare==0.7.4
Pillow==6.2.1
pkginfo==1.4.2
plac==0.9.6
plotly==4.2.0
plotly-geo==1.0.0
pluggy==0.12.0
ply==3.11
pprintpp==0.4.0
praw==5.4.0
prawcore==0.14.0
preshed==2.0.1
prompt-toolkit==2.0.9
protobuf==3.6.0
psutil==5.6.3
ptyprocess==0.5.2
py==1.5.3
pyarrow==0.9.0
pycodestyle==2.4.0
pycosat==0.6.3
pycountry==19.8.18
pycountry-convert==0.7.2
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.2
pyflakes==1.6.0
Pygments==2.2.0
pygpu==0.7.6
PyJWT==1.6.4
pyLDAvis==2.1.2
pylint==1.8.4
pymc3==3.6
pymongo==3.4.0
Pympler==0.5
pyodbc==4.0.23
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyproj==2.1.2
pyreadr==0.2.1
PyScaffold==3.2.1
PySocks==1.6.8
pystan==2.19.0.0
pytest==5.0.1
pytest-arraydiff==0.2
pytest-astropy==0.3.0
pytest-cov==2.7.1
pytest-doctestplus==0.1.3
pytest-mock==1.10.4
pytest-openfiles==0.3.0
pytest-remotedata==0.2.1
pytest-runner==5.1
python-dateutil==2.7.3
pytz==2018.4
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==17.0.0
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.4.1
rasterio==1.0.22
ratelim==0.1.6
ray==0.6.2
readme-renderer==24.0
redis==2.10.6
regex==2018.11.22
repoze.lru==0.7
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
requests-oauthlib==0.8.0
requests-toolbelt==0.9.1
retrying==1.3.3
rope==0.10.7
rpy2==3.2.2
ruamel-yaml==0.15.35
s3fs==0.1.5
s3transfer==0.1.13
SALib==1.3.7
scattertext==0.0.2.43
scikit-image==0.15.0
scikit-learn==0.21.2
scikit-plot==0.3.7
scikit-surprise==1.0.6
scipy==1.2.1
scs==2.1.1.post2
seaborn==0.9.0
selenium==3.13.0
semver==2.8.1
Send2Trash==1.5.0
setuptools-git==1.2
shap==0.28.5
Shapely==1.6.4.post1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
skope-rules==1.0.0
sloth==1.0
smart-open==1.7.1
snowballstemmer==1.2.1
snuggs==1.4.3
sortedcollections==0.6.1
sortedcontainers==1.5.10
spacy==2.0.16
SpeechRecognition==3.6.3
Sphinx==1.7.4
sphinxcontrib-websupport==1.0.1
spotipy==2.4.4
sputnik==0.9.3
spyder==3.2.8
SQLAlchemy==1.2.7
statsmodels==0.9.0
streamlit==0.51.0
sympy==1.1.1
tables==3.4.3
tabulate==0.8.3
tblib==1.3.2
tensorboard==1.7.0
tensorflow==1.7.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
textblob==0.15.1
textgenrnn==1.4
Theano==1.0.2
thinc==6.12.0
thrift==0.11.0
toml==0.10.0
toolz==0.9.0
torchvision-nightly==0.2.3
tornado==5.0.2
tqdm==4.23.4
traitlets==4.3.2
traittypes==0.2.1
tweepy==3.5.0
twine==1.13.0
typed-ast==1.1.0
typing==3.6.4
tzlocal==2.0.0
ujson==1.35
unicodecsv==0.14.1
update-checker==0.16
urllib3==1.24.2
validators==0.14.1
vine==1.1.4
w3lib==1.21.0
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
wordcloud==1.4.1
wrapt==1.10.11
xarray==0.12.0
xgboost==0.72
xlrd==1.1.0
XlsxWriter==1.0.4
xlwings==0.11.8
xlwt==1.2.0
zict==0.1.3
zipp==0.5.2
